#barbiegirl {
    height: 100%;
    width: 100%;
    background-color: #E0218A;
  }
  
  #barbieHead{
    margin-left: auto;
    width: 500px;
  }
  #h1{
    
     font-size: 130px;
  } 

  #h2{
    font-size100px; 
    color: white; 
  }